@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins',sans-serif;
}

.home{
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgb(2,2,48);
}

.navbar{
    width: 100%;
    height: 15vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 0px white;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #101010;
}

.navbar h2{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    padding-top: 20px;
    padding-left: 20px;
    cursor: pointer;
}

nav{
    padding-right:90px;
}

nav a{
    padding-right: 40px;
    position: relative;
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    padding: 6px 20px;
    transition: .5s;
}

nav a:hover{
    color: yellow;
}

nav a span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-bottom: 2px solid #0ef;
    border-radius: 15px;
    transform: scale(0) translateY(50px);
    opacity: 0;
    transition: .5s;
}

nav a:hover span{
    transform: scale(1) translateY(0);
    opacity: 1;
}

.home-details{
    display: flex;
    color: #fff;
}

.content{
    padding-top:70px;
    padding-left: 70px;
}

.content h3{
    font-size: 20px;
    font-weight: 600;
    color: blueviolet;
}

.content h1{
    font-size: 40px;
    font-weight: 600;
}

.content span{
    color: yellow;
}

.content p{
    width: 80%;
    margin-top: 10px;
}

.social-media{
    display: flex;
    margin-top: 20px;
    gap: 25px;
}

.social-media li{
    width: 40px;
    text-align: center;
    height: 40px;
    color: #000;
    background: greenyellow;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 20px;
    filter: drop-shadow(0px 0px 10px white);
    transition: .3s;

}

.social-media li:hover{
    scale: 1.3;
}
.social-media li i{
    font-size: 30px;
    text-align: center;
    align-items: center;
    margin-top: 5px;
}

.button{
    display:flex;
    gap: 30px;
}

.btn{
    width: 170px;
    height: 50px;
    font-size: 20px;
    border-radius: 30px;
    border: none;
    outline: none;
    margin-top: 20px;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    background: green;
    filter: drop-shadow(0 0 5px white);
    transition: .4s;
    border: 1px solid white;
}

.btn:hover{
    scale: 1.2;
    filter: drop-shadow(0 0 8px black);
    border: 1px solid white;
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 190px;
    margin-top: 50px;
}
.image img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid black;
    box-shadow:0  0 10px 5px white;
}